@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  block-size: auto;
  object-fit: contain;
}
:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;

}

:root {
  /* color */
  --textL: #f9faf8;
  --textD: #1f2937;
  --textM: #1f2937;
  --CTA: #3882f6;
  --background-dark: #1f2937;
  --background-mid: #e4e7eb;
  --background-light: #f6fbf4;
  /* size */
  --header: 3rem;
  --text: 1.6rem;
  --subheader: 2.25rem;
  --info: 2.25rem;
  --quote: 1.7rem;
  --font: "Atkinson Hyperlegible", sans-serif;
  /* other */
  --radius1: 0.4rem;
  --radius2: 2rem;
}

* {
  box-sizing: border-box;
}
/* genareal stuff */

html {
  background-color: var(--background-light);
  color: var(--textD);
  font-family: var(--font);
}

body {
  margin: 0;
}
img {
  width: 100%;
  height: auto;
  border-radius: var(--radius1);
}

h1 {
  font-size: var(--header);
}

h2 {
  font-size: var(--subheader);
}

p {
  font-size: var(--text);
  margin: 0;
}
h3 {
  margin: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--textL);
}
a:hover {
  font-weight: 700;
}

.button {
  /* border: var(--background-light) solid 0.12rem; */
  border-radius: var(--radius2);
  padding: 0.7rem 2rem;
  background-color: var(--background-dark);
  color: var(--background-light);
  font-weight: 700;
}
.hero .button {
  background-color: #3882f6;
}

.button:hover {
  color: var(--background-dark);
  background-color: var(--background-light);
}

/* header */
header {
  background-color: var(--background-dark);
  color: var(--textL);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header ul {
  display: flex;
  gap: 1rem;
}
header img {
  aspect-ratio: 1/1;
  width: 3rem;
  margin: 1rem;
}

/* hero */
.hero {
  background-color: var(--background-dark);
  color: var(--textL);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}
.hero h1,
.hero p {
  margin: 0 3rem 1rem 0;
}
.hero img {
  width: 40%;
}

/* info cards */
.info {
  margin: 3rem 0;
}
.info h2 {
  text-align: center;
}

.flexbo {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 3rem 5rem;
}
.infocard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

.infocard img {
  /* border: solid 1px red; */
  aspect-ratio: 4/3;
}

/* qote */
.quote {
  background-color: var(--background-mid);
  color: var(--textM);
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.quote p {
  font-size: var(--quote);
  margin: 0 6rem;
  text-align: left;
  font-style: italic;
}

.quote :nth-child(2) {
  text-align: right;
}
/* call to action */
.ctabox {
  color: var(--textL);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 6rem;
}

.center {
  background-color: var(--CTA);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  flex: 0 1 auto;
  width: 50vh;
  border-radius: var(--radius1);
}

/* footer */
footer {
  background-color: var(--background-dark);
  color: var(--textL);
  text-align: center;
  padding: 2rem 5rem;
}
